doctype html
html(lang="en")
    head
        title 装修
    body
        #choose_zx.page.out.app(data-callback="getPageData")
            header
                a.icon.icon_back(href="#add_house",data-rel="back" data-reload)
                h1.title 装修

            section.container
                ul.data_list#zx_list