@import '../common/common'

body
  background #FFFFFF

.mr
  height 0.75rem

#anjie
  padding-left 0.75rem
  & .input_group,.sub_btn
    padding-right 0.75rem
  & .input_group >label:first-child
    width 4.85rem
    display -webkit-box
  & .sub_btn
    margin-top 1.45rem
  & .t_r
    padding-right 0.75rem
    & .btn_yzm
      width 4.9rem
      margin-top 1.2rem
