@import '../common/common'
body
  background #FFFFFF
.container
  padding 0 10px

.nohouse
  width 10.375rem
  height 10.5rem
  margin-top 1.05rem
  margin-bottom 2rem

.btn
  height 2.2rem
  width 100%
  margin 0.5rem 0