@import '../common/common'

/**
 * 个人中心
 */
#personal_page
 & header
   border-bottom none
   background rgba(255, 255, 255, 0.5)
   position absolute
   width 100%
   z-index 2
 & .container
   .my_asset
     width 100%
     height 12.5rem
     background-image url("/assets/image/pic__beijing@2x.png")
     background-size 100%
     background-repeat no-repeat
     position relative
     color #fff
     .info
       position absolute
       text-align center
       top 3rem
       width 100%
     img
       width 3rem
       height 3rem
       border 0.2rem solid #B6BFBD
       F_borderRadius(3rem)
     .my_assets
       position absolute
       top 9rem
       width 50%
       display block
       text-align center
     .my_assetssplit
       position absolute
       height 2rem
       width 0.02rem
       border-left:1px #fff solid
       top 9rem
       left: 7.9rem
     .my_netassets
       position absolute
       top 9rem
       right 0rem
       display block
       text-align center
       width 50%
     .username
       position relative
       font-size 1rem
       top 0.25rem
     .assets
       color #dc2e2f
       font-size 1.5rem
     .netassets
       color #dc2e2f
       font-size 1.5rem
     .assetswan
       position relative
       color #dc2e2f
       font-size 0.75rem
       left 0.2rem
     .menu
       margin 1rem auto
       width 100%
       height 15rem
       a
         display inline-block
 .input_group
   position relative
   padding 0 0.75rem
   a
     position relative;
   img
     width 1.2rem
     height 1.4rem
   label
     position relative;
     left 0.6rem
     top -0.3rem
   &:nth-child(1n+2)
     position relative;
     margin 0rem 0rem 0rem 0.8rem