doctype html
html(lang="en")
    head
        include ./com/meta
        link(rel="stylesheet" ,href="/assets/styles/app.min.css")
        title 登录

    body

        #login_page.app
            //container
            section.container
                span.ui-icon-qq
                .t_c
                    img(src="/assets/image/img_login.png")
                form#login_form
                    .input_group
                        i.icon.icon_mobile
                        input(type="text",data-rule="number",name="mobiletel",id="mobile",placeholder="请输入手机号",maxlength="11")
                    .input_group
                        i.icon.icon_pwd
                        input(type="text",name="authCode",data-rule="number",id="yzm",placeholder="请输入验证码",maxlength="6")
                        a.btn_yzm#getcode 获取验证码
                    input(type="submit",value="登录")

        include com/dialog/toast
        include com/dialog/alert_dialog

        script(type="text/javascript",src="/assets/scripts/base/zepto.min.js")
        script(type="text/javascript",src="/assets/scripts/base/template.js")
        script(type="text/javascript",src="/assets/scripts/base/config.js")
        script(type="text/javascript",src="/assets/scripts/base/global.js")
        script(type="text/javascript",src="/assets/scripts/base/worldunion.js")


