//全局背景色
//$Global_bg = #EFEFEF;
$Global_bg = #FFFFFF;

//Toast背景色
$Toast_bg = #2b2b2d;

//Dialog 背景色
$Dialog_bg = #fff;

//dialog 分割线颜色
$Dialog_border_cl = #DADADA;

//Dialog 遮罩背景色
$Dialog_layer_bg = rgba(0, 0, 0, 0.3);

//Dialog 按钮文字
$Dialog_btn_cl = #BE3245;

//表单中提示文字颜色
$Placeholder_cl = #8389A1;

//表单中分割线颜色
$Input_bottom_line_cl = #C8C8C8;
