@import '../common/common'

body
  background #ffffff

.container
  padding 0 0.75rem

.mr
  background $Global_bg
  height 0.75rem

header
  a
    font-size 15px
    color $Dialog_btn_cl
    right 0.75rem

form
  padding-left 0.75rem
  .input_group
    padding-right 0.75rem
