meta(content="text/html; charset=utf-8",http-equiv="Content-Type")
meta(charset="utf-8")
meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",name="viewport")
meta(content="yes" name="apple-mobile-web-app-capable")
//允许苹果全屏
meta(content="yes" name="apple-touch-fullscreen")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")
meta(name="keywords",content="资产宝,资产,世联行,世联,深圳世联行")
meta(name="description",content="资产宝,资产,世联行,世联,深圳世联行")

