//toast
include ./dialog/toast

//alert dialog
include ./dialog/alert_dialog

include ./dialog/login_dialog

//js
script(type="text/javascript",src="/assets/scripts/base/zepto.min.js")
script(type="text/javascript",src="/assets/scripts/base/mobilebone.js")
script(type="text/javascript",src="/assets/scripts/base/template.js")
script(type="text/javascript",src="/assets/scripts/base/config.js")
script(type="text/javascript",src="/assets/scripts/base/global.js")
script(type="text/javascript",src="/assets/scripts/base/worldunion.js")
