.box
    .box-layer
    .time-con
        .time-box
            .time-choose
            .time-year#cHouse
                div
                    ul
                        li
                        li(data-val="1") 1室
                        li(data-val="2") 2室
                        li(data-val="3") 3室
                        li(data-val="4") 4室
                        li(data-val="5") 5室
                        li
            .time-month#cHall
                div
                    ul
                        li
                        li(data-val="0") 0厅
                        li(data-val="1") 1厅
                        li(data-val="2") 2厅
                        li(data-val="3") 3厅
                        li(data-val="4") 4厅
                        li(data-val="5") 5厅
                        li
            .time-day#cToilet
                div
                    ul
                        li
                        li(data-val="0") 0卫
                        li(data-val="1") 1卫
                        li(data-val="2") 2卫
                        li(data-val="3") 3卫
                        li(data-val="4") 4卫
                        li(data-val="5") 5卫
                        li

        .time-btn
            span.confirm-btn
                span#sure.time-sure 确定
            span.cancel-btn
                span#close.time-sure 取消