doctype html
html(lang="en")
    head
        title 楼栋
    body
        #choose_ld.app.page.out(data-callback="initPageData")

            header
                a.icon.icon_back(href="#add_house",data-rel="back" data-reload)
                h1.title 楼栋

            section.container
                .mr
                    #search.search_form.clearfix
                        input.fl(type="text",name="key",placeholder="搜索楼栋名称")
                        input.fr(type="button",value="")
                ul.data_list#build_list

            button.not_found(data-type="?type=ld") 找不到想要的